
@model IEnumerable<DynamicMenus.Models.Menu>

@{
    ViewBag.Title = "MenuPages";
}

<!-- bootstrap 5 header , dynamic menu inside -->

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4"> Site Name</span>
    </a>

    <!-- dynamic menu in ul  -->

    <ul class="nav nav-pills">

        @foreach (var item in Model)
        {

            <!-- display the parent menus   -->
            if (item.Parent == null)
            {

                if (item.SubMenus == null)
                {


                    <!-- target is blank  -->
                    if (item.IsLinkBlankPage == true)
                    {
                        <!-- if the menu has no children , it will have diffrent look , will have no dropdown style  -->
                        <li class="nav-item"><a target="_blank" href=" @Url.Content(item.MenuLink)" class="nav-link">  @Html.DisplayFor(modelItem => item.MenuName)</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a href=" @Url.Content(item.MenuLink)" class="nav-link">  @Html.DisplayFor(modelItem => item.MenuName)</a></li>

                    }
                }
                else
                {
                    <!-- if the menu has children , it will have a dropdown style -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@Url.Content(item.MenuLink)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Html.DisplayFor(modelItem => item.MenuName)
                        </a>


                        <!-- display sub menus 2nd level -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var SubMenu in item.SubMenus)
                            {

                                if (SubMenu.SubMenus == null)
                                {
                                    <!-- target is blank  -->
                                    if (SubMenu.IsLinkBlankPage == true)
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="@Url.Content(SubMenu.MenuLink)">@SubMenu.MenuName</a></li>

                                    }
                                    else
                                    {

                                        <li><a class="dropdown-item" href="@Url.Content(SubMenu.MenuLink)">@SubMenu.MenuName</a></li>
                                    }

                                    @*<li><hr class="dropdown-divider"></li>*@
                                }



                            }
                        </ul>
                    </li>
                }
            }
        }


    </ul>
</header>




